.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ais-SearchBox-input { height: 50px; width: 50%; padding: 20px; font-size: 20px; border-radius: 15px; border-top-right-radius: 0; border-bottom-right-radius: 0; border: solid gray 1px;}
.ais-SearchBox-submit { height: 50px; width: 50px; font-size: 20px; border-radius: 15px; border-top-left-radius: 0; border-bottom-left-radius: 0; border: solid gray 1px;}
.ais-SearchBox-submitIcon { height: 17px; width: 15px; }
.ais-SearchBox-reset { background-color: #0553E6; color: white; border: solid #0553E6 0; padding: 20px;}
.ais-InstantSearch {}
.ais-Hits-item { margin-bottom: 1em; width: calc(50% - 1rem) }
